@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


/* 애니메이션 */


body>section>.home-inner {
  opacity: 0;
  transition: all 1.5s ease-out;
  border-radius: 0px;
  transform: translateY(-200px);

}

body>section.show>.home-inner {
  opacity: 1;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateY(0);
}

#header {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.7s;
}

#header.show {
  opacity: 1;
  transform: translateY(0);
}

.home-inner>h2 {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s ease-out;
}

.home-inner>h2.show {
  opacity: 1;
  transform: translateY(0);

}

.home-inner>p {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s ease-out;
}

.home-inner>p.show {
  opacity: 1;
  transform: translateY(0);
}

#about {
  opacity: 0;
  transform: translateY(9rem) scale(0.8);
  transition: all 1.5s cubic-bezier(0.86, 0, 0.07, 1);
}

#about.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.profile>ul>li:nth-of-type(5) {
  position: relative;
  margin-top: 10px;
  animation: bounce 0.7s 1s infinite alternate ease-in-out;

}

@keyframes bounce {
  from {
    transform: translateY(3px);

  }

  to {
    transform: translateY(0);

  }
}




.about-section1>div>h2 {
  opacity: 0;
  transition: all 1.5s linear;

}


.about-section1>div>h2.show {

  opacity: 1;


}


.about-section1>div>.profile {
  opacity: 0;
  transition: all 1.5s ease-in-out;
  transform: rotateY(180deg) perspective(800px);

}


.about-section1>div>.profile.show {
  opacity: 1;
  transform: rotateY(360deg) perspective(800px);


}

body>section .about-inner>.about-section2 {
  opacity: 0;
  transition: all 1s linear;
}

body>section.show .about-inner>.about-section2 {
  opacity: 1;
}

.split>span {
  opacity: 0;
  transition: all .3s;
}

.split>span.show {
  opacity: 1;

}

.work-inner>h2 {
  opacity: 0;

}

.work-inner>h2.show {
  opacity: 1;
  animation: h2 1s linear forwards;
}

@keyframes h2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.site1>.reveal {
  opacity: 0;

}

.site1>.reveal.show {
  animation: opacity 1s linear forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

.site2>.visual {
  opacity: 0;
}

.site2>.visual.show {
  animation: opacity 1s linear forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}


#contact {
  opacity: 0;
  transition: all 1.5s linear;
}

#contact.show {
  opacity: 1;

}

#contact>div>h2 {
  opacity: 0;
  transition: all 1s linear;
  transform: translateY(-100px);
}

#contact>div>h2.show {
  opacity: 1;
  transform: translateY(0);
}

#contact>div>h2>span {
  opacity: 0;
  transition: all .3s ease-out;
  transform: translateX(200px);
}

#contact>div>h2>span.show {
  opacity: 1;
  transform: translateX(0);
}



#contact>div>strong {
  opacity: 0;
  transition: all 1s linear;
  transform: translateY(-100px);
}

#contact>div>strong.show {
  opacity: 1;
  transform: translateY(0);
}

#contact>div>p {
  opacity: 0;
  transition: all 1s linear;
  transform: translateY(-100px);
}

#contact>div>p.show {
  opacity: 1;
  transform: translateY(0);
}

.link>a {
  opacity: 0;
  transition: all 1s linear;
  transform: translateY(-100px);
}

.link>a.show {
  opacity: 1;
  transform: translateY(0);
}



















/* header */
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
}




#header.on {
  transition: all 1s;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}





.header-inner {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;

}






.logo>a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  color: #0118D8;
}

.nav>ul {
  display: flex;
  padding-right: 20px;
  gap: 17px;
}

.nav>ul>li>a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #0118D8;
}

.nav>ul>li>a:hover {
  text-decoration: underline;
  transition: all 0.7s;
}


/* home */
#home {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../imgaes/computer.png) no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}










.home-inner {
  width: 1160px;
  height: 300px;

}









.home-inner>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-top: 20px;
  padding-left: 20px;
  line-height: 1.6;
  color: #0118D8;



}

.home-inner>p {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;

}


/* about */

#about {
  width: 100%;

  background: #FFF8F8;
}

.about-inner {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}






.about-section1 {
  width: 30%;
}




.about-section1>div {

  display: flex;
  flex-direction: column;
  align-items: center;


}

.about-section1>div>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 120px;



}

.about-section1>div>.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 295px;
  height: 380px;
  border: 1px solid #000;
  border-radius: 25px;
  margin-top: 38px;
}



.profile>img {
  width: 200px;
  height: auto;
  margin-top: 18px;
}

.profile>ul {
  margin-top: 2.5px;

}

.profile>ul>li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  margin: 5.5px 0;
}



.about-section2 {
  width: 70%;
}






.about-section2>div>h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 200px;
  margin-left: 30px;
}

.about-section2>div>p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 1.8;

}

.about-section3 {

  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.section3-inner {
  height: inherit;
}

.section3-inner>h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-top: 20px;
}

.section3-inner>ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


/* work */
#work {
  width: 100%;
  height: 1641px;
  background: #FFF8F8;
}

.work-inner {
  position: relative;
  width: 1160px;
  height: inherit;
  margin: 0 auto;

}

.work-inner>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding: 0 0 40px 0;
}


.site1>p {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 40px;
  left: 100px;
  top: 450px;
}

.site2 {
  position: absolute;
  right: 0;
  margin-top: 262px;
}

.site2>p {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 40px;
  width: 800px;
  right: 100px;
  top: 445px;
}



/* contact */
#contact {
  background: url(../imgaes/night.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-attachment: fixed;
}



#contact>div {
  width: 1160px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;


}


#contact>div>h2 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
}

#contact>div>strong {

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #fff;

}

#contact>div>p {
  font-weight: 400;
  font-size: 18px;

  color: #fff;
}



.link>a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;


}