@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');



/* 애니메이션 */

/* 클래스 show를 추가하기 전 */
body>section>.home-inner {
  opacity: 0;
  transform: translateY(200px);
  transition: all 1s ease-out;
}

.about-section1>div>h2 {
  opacity: 0;


}



.about-section1>div>.profile {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: rotateY(180deg) perspective(800px);

}

body>section .about-inner>.about-section2 {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1s ease-out;
}




body>section:nth-of-type(4) {
  opacity: 0;
  transform: translateY(100vh);
  transition: all 1s linear;
}

/* 클래스 show를 추가할때 */
body>section.show>.home-inner {
  opacity: 1;
  transform: translateY(0);

}

.about-section1>div>h2.show {
  opacity: 1;

}





.about-section1>div>.profile.show {
  opacity: 1;
  transform: rotateY(360deg) perspective(800px);


}

body>section.show .about-inner>.about-section2 {
  opacity: 1;
  transform: translateY(0);

}




body>section.show:nth-of-type(4) {
  opacity: 1;
  transform: translateY(0);

}


/* header */
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.3);


}



#header.on {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 1s;
  backdrop-filter: blur(5px);

}

.header-inner {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;

}






.logo>a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  color: #0118D8;
}

.nav>ul {
  display: flex;
  padding-right: 20px;
  gap: 21px;
}

.nav>ul>li>a {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #0118D8;
}

.nav>ul>li>a:hover {
  text-decoration: underline;
  transition: all 0.7s;
}


/* home */
#home {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../imgaes/computer.png) no-repeat center;
  background-size: cover;



}








.home-inner {
  width: 1160px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
}









.home-inner>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-top: 20px;
  padding-left: 20px;
  line-height: 1.6;
  color: #0118D8;



}

.home-inner>p {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;

}


/* about */

#about {
  width: 100%;
  height: 800px;
  background: #FFF8F8;
}

.about-inner {
  width: 1160px;
  height: inherit;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;



}



.about-inner>div {
  width: 50%;



}

.about-section1>div {
  /* background: #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;



}

.about-section1>div>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 120px;



}

.about-section1>div>.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 295px;
  height: 380px;
  border: 1px solid #000;
  border-radius: 25px;
  margin-top: 38px;
  /* transform-style: preserve-3d; */


}

.profile>img {
  width: 200px;
  height: auto;
  margin-top: 18px;
}

.profile>ul {
  margin-top: 2.5px;

}

.profile>ul>li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  margin: 2.5px 0;
}

.profile>ul>li:nth-of-type(6) {
  position: relative;
  margin-top: 10px;
  animation: bounce 0.7s 1s infinite alternate ease-in-out;

}




@keyframes bounce {
  from {
    transform: translateY(3px);

  }

  to {
    transform: translateY(0);

  }
}



.about-section2>div>h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 207px;
  margin-left: 10px;
}

.about-section2>div>p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 1.8;

}



/* work */
#work {
  background: mediumaquamarine;
  height: 100vh;
}

/* contact */
#contact {
  background: url(../imgaes/sky.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}