@charset "UTF-8";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* header */

header {
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.11);
}

header .left {
  position: relative;
  display: inline-block;
  top: 20px;
  left: 50px;
  width: 103px;
  height: 80px;
  background: url("../img/SK_logo.png") no-repeat;
  background-size: 100%;
}

header .menu {
  position: relative;
  right: 450px;
  top: 30px;
}

.menu_bg {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100px;
}

.menu>ul>li {
  padding-right: 50px;
  display: inline-block;
}

.menu>ul>li>a {
  font-size: 20px;
}

header .submenu li {
  display: none;
}

.menu ul li a:hover {
  color: #ff0a0a;
  transition: 0.5s;
}

header .right {
  position: relative;
  display: flex;
  top: 30px;
  right: 50px;
}

header .right span {
  color: #3e2b2f;
  font-size: 15px;
  position: relative;
  top: 9px;
  margin-right: 10px;
}

header .right .img {
  background: url("../img/logo.png") no-repeat center;
  background-size: 100%;
  width: 37px;
  height: 37px;
}

main {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 320px;
}

/* 메인 */

.swiper {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #F05937;

}



.mainimg-inner {
  position: relative;
  display: flex;
  justify-content: center;
  top: -50px;
}

.mainimg-inner ul {
  position: relative;
  width: 80%;
  right: 150px;
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}

.mainimg-inner ul li {
  position: relative;
  overflow: hidden;
}



.mainimg-inner ul li img {


  width: 100%;
  transition: transform 0.35s;
}

.mainimg-inner ul li img:hover {

  transform: scale(1.1);

}

.mainimg-inner ul li p {
  position: absolute;
  top: 130px;
  left: 30px;
  color: #fff;
  font-size: 18px;
}

.main-tit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-tit h2 {
  position: relative;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  word-break: keep-all;
  top: 80px;
  right: 200px;
}

.main-tit span {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  color: #999;
  top: 100px;
  right: 300px;
}

main #section-news-wrap .box-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 120px;

}

main #section-news-wrap .box-list .box-items {
  position: relative;
  width: 310px;
  height: 350px;
  border: 1px solid #e3e3e3;
  border-right-width: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main #section-news-wrap .box-list .box-items .img-table {
  transition: transform 0.35s;
}

main #section-news-wrap .box-list .box-items .img-table img {
  width: 100%;
  height: 200px;
  transition: transform 0.35s;
}

main #section-news-wrap .box-list .box-items .img-table img:hover {
  position: relative;
  transform: scale(1.1);
}

main #section-news-wrap .box-list .box-items .text {
  position: relative;
  margin-top: 10px;
  padding: 20px 30px 20px;



}






main #section-news-wrap .box-list .box-items .text h2 {

  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;

  color: #ff0a0a;
  display: inline-block;


}

main #section-news-wrap .box-list .box-items .text p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 100;
  color: #666;
}

/* footer */

#footer {
  padding: 50px 10px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #e3e3e3;
}

#footer ul {
  display: flex;
  justify-content: center;
}

#footer ul li {
  padding-right: 20px;
}

#footer ul li img {
  width: 37px;
}

#footer button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 0;
  width: 160px;
  font-size: 14px;
  color: #fff;
  background-color: #4d4d4d;
  cursor: pointer;
}

#footer .copy ul {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#footer .copy ul li {
  font-size: 14px;
}

#footer .copy ul li:nth-child(2) {
  padding-right: 0;
  color: #666;
  font-size: 13px;
}

#footer .copy ul li:nth-child(3) {
  padding-left: 10px;
  color: #666;
  font-size: 13px;
}

#footer .copy ul li:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background: #4d4d4d;
  top: 3px;
  left: 780px;
}

@media screen and (max-width : 1600px) {


  header .menu {
    right: 300px;
  }

  .mainimg-inner ul li p {
    top: 90px;
    font-size: 1em;
  }
}